networks:
  - name: ethereum
    decimals: 18
    symbol: ETH
    num: 2
    node: {{ worker_eth_node_url }}
    swap_contract_address: '{{ eth_swap_contract_address }}'
  - name: smart_chain
    decimals: 18
    symbol: BNB
    num: 1
    node: {{ worker_bsc_node_url }}
    swap_contract_address: '{{ bsc_swap_contract_address }}'

{% if bot_token is defined %}
bot_token: "{{ bot_token }}"
{% endif %}

{% if add_relayers is defined and add_relayers | bool %}
relayers:
  {{ relayers }}
{% endif %}

private_key: '{{ worker_private_key }}'
swap_contract_abi: '{{ swap_contract_abi }}'
